---
import SectionHeading from "../components/SectionHeading.astro";
---

<section class="flex justify-center">
   <SectionHeading 
        title="Coming Soon" 
        subtitle="Under development"
        centered={true}
      />
</section>